<div class="container">
  <h1 class="my-5">All our Flats </h1>
  <h4 class="my-5">All our <%= Flat.count %> flats </h4>
  
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
          <div class="card-trip">
              <img src= "<%= flat.image %>" />
              <div class="card-trip-infos">  
                <div>  
                    <%= link_to flat_path(flat) do %>
                        <h2><%= flat.name %></h2>
                    <% end %>
                    <p><%= flat.address %></p>
                    <div class="d-flex justify-content-between">  
                      <h2 class="card-trip-pricing"><i class="fas fa-dollar-sign"></i>  <%= flat.price_per_night %></h2>
                      <h2 class="card-trip-guests"><i class="fas fa-users">  <%= flat.number_of_guests %></i></h2>
                    </div>
                    </div> 
                </div>
          </div>
      </div>
    <% end %>
</div>


   <%# <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-info" %>
